h1 {
  font-family: Impact, Charcoal, sans-serif;
font-size: 30px;
letter-spacing: 1.4px;
word-spacing: 0.8px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h2 {
  font-family: Impact, Charcoal, sans-serif;
font-size: 20px;
letter-spacing: 1.4px;
word-spacing: 0.8px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#forimage {
    display: table;
    width: 80%;
    height: 50%;
    vertical-align: middle;
    box-sizing: border-box;
  min-height: 100px;
  position: absolute;
  left: 230px;
  top: 20px;
      background-image: url("https://i.postimg.cc/pTCn6SY8/310961932.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: 50% 83% !important;
    background-size: 100% !important;
    background-color: transparent !important;
 }

#hello {
    display: cell;
    vertical-align: middle;
  min-height: 100px;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 200px;
}

#mainpart {
   display: table;
    width: 80%;
    height: 60%;
    vertical-align: middle;
    box-sizing: border-box;
  min-height: 100px;
  position: absolute;
  left: 180px;
  top: 450px;
  padding: 70px;
}

.mainpart {
 font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
letter-spacing: 2px;
word-spacing: 2px;
color: #525252;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.topimage {
  width: 750px;
  height: 310px;
}

h2:hover {
  color: #A5A7AF;
  cursor: pointer;
}

#backgroundchange {
    vertical-align: middle;
  min-height: 30px;
  padding: 10px;
  position: absolute;
  left: 30px;
  top: 450px;
outline: 2px dotted #C7C8CA;
outline-offset: 0px;
}

h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
letter-spacing: 2px;
word-spacing: 2px;
color: #7B7B7B;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#facebook {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
     border-radius: 7px;
}
